{% if block.settings.show_area_calculator %}
  <div class="area-calculator-wrapper">
    <area-calculator
      data-base-price="{{ product.price }}"
      data-product-id="{{ product.id }}"
      data-variant-id="{{ product.selected_or_first_available_variant.id }}"
      data-domain="{{ shop.metafields.calculator.domain | default: 'https://price-calculator.test' }}"
      class="twcss-flex twcss-flex-col twcss-gap-4 twcss-mb-4">
      <div class="twcss-grid twcss-grid-cols-2 twcss-gap-4">
        <div class="twcss-flex twcss-flex-col twcss-gap-1">
          <div class="twcss-flex twcss-items-center twcss-gap-1">
            <label class="twcss-text-base twcss-font-medium twcss-text-gray-700">Verticaal</label>
            <div class="twcss-relative twcss-group">
              <span class="twcss-cursor-help twcss-text-gray-400">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 16 16"
                  fill="currentColor"
                  class="twcss-size-4">
                  <path
                    fill-rule="evenodd"
                    d="M15 8A7 7 0 1 1 1 8a7 7 0 0 1 14 0Zm-6 3.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0ZM7.293 5.293a1 1 0 1 1 .99 1.667c-.459.134-1.033.566-1.033 1.29v.25a.75.75 0 1 0 1.5 0v-.115a2.5 2.5 0 1 0-2.518-4.153.75.75 0 1 0 1.061 1.06Z"
                    clip-rule="evenodd" />
                </svg>
              </span>
              <div class="twcss-invisible group-hover:twcss-visible twcss-absolute twcss-left-0 twcss-top-6 twcss-z-10 twcss-w-48 twcss-rounded-md twcss-bg-black twcss-px-2 twcss-py-1 twcss-text-sm twcss-text-white">
                <span class="twcss-flex twcss-items-center twcss-gap-1">
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="12"
                      height="12"
                      viewBox="0 0 24 24"
                      fill="none"
                      stroke="currentColor"
                      stroke-width="2"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      class="lucide lucide-move-horizontal twcss-rotate-90"><path d="m18 8 4 4-4 4" /><path d="M2 12h20" /><path d="m6 8-4 4 4 4" /></svg>
                    Lengte
                  </span>
                Min: 28cm <br>
                Max: 250cm
              </div>
            </div>
          </div>
          <div class="twcss-flex twcss-flex-col twcss-gap-1">
            <div class="twcss-relative">
              <input
                type="number"
                data-length-input
                min="28"
                max="250"
                value="{{ product.selected_or_first_available_variant.metafields.size.Verticaal }}"
                placeholder="0"
                class="twcss-w-full twcss-px-4 twcss-py-2 twcss-border twcss-border-gray-300 twcss-rounded-md focus:twcss-ring-1 focus-visible:twcss-outline-none focus:twcss-ring-tapiz-500 focus:twcss-border-tapiz-500 twcss-pr-12 [appearance:textfield] [&::-webkit-outer-spin-button]:twcss-appearance-none [&::-webkit-inner-spin-button]:twcss-appearance-none">
              <span class="twcss-absolute twcss-right-4 twcss-top-1/2 twcss-transform twcss--translate-y-1/2 twcss-text-gray-500">cm</span>
            </div>
            <span data-length-error class="twcss-text-red-500 twcss-text-sm"></span>
          </div>
        </div>
        <div class="twcss-flex twcss-flex-col twcss-gap-1">
          <div class="twcss-flex twcss-items-center twcss-gap-1">
            <label class="twcss-text-base twcss-font-medium twcss-text-gray-700">Horizontaal</label>
            <div class="twcss-relative twcss-group">
              <span class="twcss-cursor-help twcss-text-gray-400">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 16 16"
                  fill="currentColor"
                  class="twcss-size-4">
                  <path
                    fill-rule="evenodd"
                    d="M15 8A7 7 0 1 1 1 8a7 7 0 0 1 14 0Zm-6 3.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0ZM7.293 5.293a1 1 0 1 1 .99 1.667c-.459.134-1.033.566-1.033 1.29v.25a.75.75 0 1 0 1.5 0v-.115a2.5 2.5 0 1 0-2.518-4.153.75.75 0 1 0 1.061 1.06Z"
                    clip-rule="evenodd" />
                </svg>
              </span>
              <div class="twcss-invisible group-hover:twcss-visible twcss-absolute twcss-left-0 twcss-top-6 twcss-z-10 twcss-w-48 twcss-rounded-md twcss-bg-black twcss-px-2 twcss-py-1 twcss-text-sm twcss-text-white">
                <span class="twcss-flex twcss-items-center twcss-gap-1">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="12"
                    height="12"
                    viewBox="0 0 24 24"
                    fill="none"
                    stroke="currentColor"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    class="lucide lucide-move-horizontal"><path d="m18 8 4 4-4 4" /><path d="M2 12h20" /><path d="m6 8-4 4 4 4" /></svg>
                  Breedte
                </span>
                Min: 28cm <br>
                Max: 250cm
              </div>
            </div>
          </div>
          <div class="twcss-flex twcss-flex-col twcss-gap-1">
            <div class="twcss-relative">
              <input
                type="number"
                data-width-input
                min="28"
                max="250"
                value="{{ product.selected_or_first_available_variant.metafields.size.Horizontaal }}"
                placeholder="0"
                class="twcss-w-full twcss-px-4 twcss-py-2 twcss-border twcss-border-gray-300 twcss-rounded-md focus:twcss-ring-1 focus:twcss-ring-tapiz-500 focus-visible:twcss-outline-none focus:twcss-border-tapiz-500 twcss-pr-12 [appearance:textfield] [&::-webkit-outer-spin-button]:twcss-appearance-none [&::-webkit-inner-spin-button]:twcss-appearance-none">
              <span class="twcss-absolute twcss-right-4 twcss-top-1/2 twcss-transform twcss--translate-y-1/2 twcss-text-gray-500">cm</span>
            </div>
            <span data-width-error class="twcss-text-red-500 twcss-text-sm"></span>
          </div>
        </div>
      </div>
      {% if block.settings.show_area_calculator_price %}
        <div class="twcss-flex twcss-justify-center-center twcss-flex-col twcss-gap-1">
          <div class="price price--large twcss-my-4">
            <div class="loading__spinner" data-total-price-spinner>
              <svg aria-hidden="true" focusable="false" class="spinner" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
                <circle class="path" fill="none" stroke-width="6" cx="33" cy="33" r="30"></circle>
              </svg>
            </div>
            <span data-total-price>0</span>
          </div>
          <div class="product__tax caption rte twcss-pt-3">
            {%- if cart.taxes_included -%}
              {{ 'products.product.include_taxes' | t }}
            {%- endif -%}
            {%- if shop.shipping_policy.body != blank -%}
              {{ 'products.product.shipping_policy_html' | t: link: shop.shipping_policy.url }}
            {%- endif -%}
          </div>
          {%- if show_badges -%}
            <span class="badge price__badge-sale color-{{ settings.sale_badge_color_scheme }}">
              {{ 'products.product.on_sale' | t }}
            </span>

            <span class="badge price__badge-sold-out color-{{ settings.sold_out_badge_color_scheme }}">
              {{ 'products.product.sold_out' | t }}
            </span>
          {%- endif -%}
        </div>
      {% endif %}
      <div
        data-error-message
        class="twcss-text-red-600 twcss-text-sm"
        style="display: none;"></div>
    </area-calculator>
  </div>
{% endif %}